HOLOSTORE_NODE_IMAGE=holostore-node:antithesis
HOLOSTORE_CLIENT_IMAGE=holostore-client:antithesis
HOLOSTORE_HEALTHCHECK_IMAGE=holostore-health-checker:antithesis
HOLO_TMP_ROOT=../../../.tmp/antithesis
HOLO_MAX_SHARDS=4
HOLO_INITIAL_RANGES=1
HOLO_RANGE_SPLIT_MIN_KEYS=1000000
HOLO_RANGE_SPLIT_MIN_QPS=0
HOLO_WAL_ENGINE=raft-engine
